@page
@model Murhpys_Electronic_Shop.Pages.AdminLoginModel
@{
    ViewData["Title"] = "Admin Login Page";
}
<div id = "loginForm">
<div class="card col-5">
    <div class="card-header">Admin Login</div>
<div class="card-body">
    <p class = "card-text">
        Please login to get access to admin panel
    </p>
    <div style="color:@Model.color">
    @Model.Message
    </div>
<form method="post">
    <div class="form-group">
        <div class="input-group mb-3">
        <div class="col-md-10">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4z" />
            </svg>
            <input asp-for="UserName" placeholder="Username"/>
        </div>
            </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="col-md-10">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                </svg>
                <input type="password" asp-for="Password" placeholder="Password" />
            </div>
            </div>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm">Log in</button>
    </div>
</form>
</div>
</div>
</div>